# Function to print alla combination of pairs if integers in a unique  list
# [1,2,3]--> (1,2),(2,3),(2,3)///3c2 # 3!/((3-2)!)*r!

# ncr=n!/(n-r)!*r!

In [8]:
#[1,2,3]--> (1,2),(2,3),(2,3)///3c2 # 3!/((3-2)!)*r!
#[1,2,3,4]-->(1,2,3)(2,3,4)

def combinations(li):
    for i in range(len(li)-1):
        for j in range(i+1,len(li)):
            print(li[i],li[j])
    return
li=[1,2,3]
combinations(li)

1 2
1 3
2 3

In [15]:
# print 3 Combinations


def combinationsOfThree(li):
    for i in range(len(li)-1):
        for j in range((i+1),len(li)):
            for k in range((j+1),len(li)):
                print(li[i],li[j],li[k])
    return
li=[1,2,3,4]
combinationsOfThree(li)

1 2 3
1 2 4
1 3 4
2 3 4

In [8]:
def combinationsOfThree(li):
    for i in range(len(li)-1):
        for j in range((i+1),len(li)):
            for k in range((j+1),len(li)):
                print(li[i],li[j],li[k])
    return
li=[1,2,3,4,5]
combinationsOfThree(li)

1 2 3
1 2 4
1 2 5
1 3 4
1 3 5
1 4 5
2 3 4
2 3 5
2 4 5
3 4 5

In [16]:
def differencePairs(li): # Print the difference numbers if is not in li
    for i in range(len(li)-1):
        for j in range(i+1,len(li)):
            difference=abs(li[i]-li[j])
            if difference not in li:
                li.append(difference)
    return li
li=[1,2,3]               
differencePairs(li)

[1, 2, 3]

In [18]:
def differencePairs(li): #Print the difference numbers if is not in li
    for i in range(len(li)-1):
        for j in range(i+1,len(li)):
            difference=abs(li[i]-li[j])
            if difference not in li:
                li.append(difference)
    return li
li=[1,3,5]               
differencePairs(li)

[1, 3, 5, 2, 4]

In [21]:
def differencePairs(li):#Print the difference numbers if is not in li
    cli=li
    for i in range(len(li)-1):
        for j in range(i+1,len(li)):
            difference=abs(li[i]-li[j])
            if difference not in li:
                li.append(difference)
    return li
li=[1,9]  # it prints the[1, 9, 8] but we want constant array            
differencePairs(li)

[1, 9, 8]

In [25]:
def differencePairs(li):#Print the difference numbers if is not in li
    newelements=[]
    for i in range(len(li)-1):
        for j in range(i+1,len(li)):
            difference=abs(li[i]-li[j])
            if difference not in li:
                newelements.append(difference)
    return newelements
li=[1,9,8]               
differencePairs(li)

[7]

In [41]:
def kthLatgest(li):
    cli=li
    while(True):
        li2=differencePairs(li) 
        if len(li2)==0:
            break
    return li

def differencePairs(li):#Print the difference numbers if is not in li
    newelements=[]
    for i in range(len(li)-1):
        for j in range(i+1,len(li)):
            difference=abs(li[i]-li[j])
            if difference not in li:
                newelements.append(difference)
        li.extend(newelements)
    return newelements
li=[1,9,8,7,6,5,3,4,2]               
print(kthLatgest(li))

[1, 9, 8, 7, 6, 5, 3, 4, 2]

In [16]:
##second largest number
def kthLatgestmodel2(li,k):  # Constant array
    while(True):
        li2=differencePairs(li) #[1,9,8,7,6,5,4,3,2]
        #print(li2)
        if li2[0]==li2[1]:
            break
    if len(li2[0])>k:
        return sorted(li2[0],reverse=True)[k-1]
    else:
        return -1

def differencePairs(li):#Print the difference numbers if is not in li
    cli=li[:]  #print(cli)
    newelements=[]
    for i in range(len(li)-1):
        for j in range(i+1,len(li)):
            difference=abs(li[i]-li[j])
            if difference not in li:
                newelements.append(difference)
        li.extend(newelements)
    return [cli,li] 
li=[1,9]
print(kthLatgestmodel2(li,2))

8

In [1]:
a = [5,8,9]
b = a
b.append(7)
a

[5, 8, 9, 7]

In [11]:
o = 9
u = o
u = 8
u

8

In [12]:
o

9

In [31]:
#doubts
#prints the duplicate values
#sir itchina fornmate istuntey ne empty fornate vastundi why??
'''def kthLatgest(li):
    cli=li
    while(True):
        li2=differencePairs(li) 
        if len(li2)==0:
            break
    return li'''

def differencePairs(li):#Print the difference numbers if is not in li
    newelements=[]
    for i in range(len(li)-1):
        for j in range(i+1,len(li)):
            difference=abs(li[i]-li[j])
            if difference not in li:
                newelements.append(difference) 
        li.extend(newelements)
    return (newelements)
li=[1,9,8,7,6,2,3,4,2,9]               
print(differencePairs(li))

[5, 0]

In [9]:
a=[1,2,3]
b=[1,3,2]
a=b
a.append(5)
#a
b.append(4)
a

[1, 3, 2, 5, 4]

In [17]:
d=a[:]
d

[1, 3, 2, 5, 4]

# Set -Data Structure  in python

- set is mutable

In [47]:
a={1,2,3,4,5,6,7,6,3,7,1}  # removes the duplicate eliments
set(a)
a.add(9)
a
#for i in a:
#    print(i,end=" ")
a.add(10)
b={11,12,54,30} # it merging the two sets with update keyword
a.update(b)
c={50,24,35}
a.update(c)
a

{1, 2, 3, 4, 5, 6, 7, 9, 10, 11, 12, 24, 30, 35, 50, 54}

In [39]:
help(set)

Help on class set in module builtins:

class set(object)
 |  set() -> new empty set object
 |  set(iterable) -> new set object
 |
 |  Build an unordered collection of unique elements.
 |
 |  Methods defined here:
 |
 |  __and__(self, value, /)
 |      Return self&value.
 |
 |  __contains__(...)
 |      x.__contains__(y) <==> y in x.
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __iand__(self, value, /)
 |      Return self&=value.
 |
 |  __init__(self, /, *args, **kwargs)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  __ior__(self, value, /)
 |      Return self|=value.
 |
 |  __isub__(self, value, /)
 |      Return self-=value.
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __ixor__(self, value, /)
 |      Return self^=value.
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __or__(self, value, /)
 |      Return self|value.
 |
 |  __rand__(self, value, /)
 |      Return value&self.
 |
 |  __reduce__(...)
 |      Return state information for pickling.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __ror__(self, value, /)
 |      Return value|self.
 |
 |  __rsub__(self, value, /)
 |      Return value-self.
 |
 |  __rxor__(self, value, /)
 |      Return value^self.
 |
 |  __sizeof__(...)
 |      S.__sizeof__() -> size of S in memory, in bytes
 |
 |  __sub__(self, value, /)
 |      Return self-value.
 |
 |  __xor__(self, value, /)
 |      Return self^value.
 |
 |  add(...)
 |      Add an element to a set.
 |
 |      This has no effect if the element is already present.
 |
 |  clear(...)
 |      Remove all elements from this set.
 |
 |  copy(...)
 |      Return a shallow copy of a set.
 |
 |  difference(...)
 |      Return the difference of two or more sets as a new set.
 |
 |      (i.e. all elements that are in this set but not the others.)
 |
 |  difference_update(...)
 |      Remove all elements of another set from this set.
 |
 |  discard(...)
 |      Remove an element from a set if it is a member.
 |
 |      If the element is not a member, do nothing.
 |
 |  intersection(...)
 |      Return the intersection of two sets as a new set.
 |
 |      (i.e. all elements that are in both sets.)
 |
 |  intersection_update(...)
 |      Update a set with the intersection of itself and another.
 |
 |  isdisjoint(...)
 |      Return True if two sets have a null intersection.
 |
 |  issubset(...)
 |      Report whether another set contains this set.
 |
 |  issuperset(...)
 |      Report whether this set contains another set.
 |
 |  pop(...)
 |      Remove and return an arbitrary set element.
 |      Raises KeyError if the set is empty.
 |
 |  remove(...)
 |      Remove an element from a set; it must be a member.
 |
 |      If the element is not a member, raise a KeyError.
 |
 |  symmetric_difference(...)
 |      Return the symmetric difference of two sets as a new set.
 |
 |      (i.e. all elements that are in exactly one of the sets.)
 |
 |  symmetric_difference_update(...)
 |      Update a set with the symmetric difference of itself and another.
 |
 |  union(...)
 |      Return the union of sets as a new set.
 |
 |      (i.e. all elements that are in either set.)
 |
 |  update(...)
 |      Update a set with the union of itself and others.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes defined here:
 |
 |  __hash__ = None

In [57]:
a={1,2,3,4,5,6,7,6,3,7,1}  # removes the duplicate eliments
set(a)
a.add(9)
a
#for i in a:
#    print(i,end=" ")
a.add(10)
b={11,12,54,30} # it merging the two sets with update keyword
a.update(b)
c=[50,24,35]
a.update(c)
d=[1,2,90]     # we can update list to set and tupple to set valued updated and prints ordered numbers with set
a.update(d)
a

{1, 2, 3, 4, 5, 6, 7, 9, 10, 11, 12, 24, 30, 35, 50, 54, 90}

In [98]:
a.discard(90) # if we want to remove single element use discard
c={3.4,67,8,1,4}
d={7,8,9,1,2,3}
c.union(d)  # AUBand BUA print the all the elements in the two sets

{1, 2, 3, 3.4, 4, 7, 8, 9, 67}

In [80]:
a={1,2,3,4,5}
b={2,5,9,8,9}
b
a.intersection(b)  # print the common ele in two sets
a

{1, 2, 3, 4, 5}

In [84]:
a={10,12,13}  # its returnd true when is doesent matches any one value and returns false even one value match
b={11,20}
a.isdisjoint(b)

True

In [91]:
a={10,12,30,15} 
b={10,12,17,25}  # it prints the terminates the common ele in frst set and prints remaining ele:
a-b

{15, 30}

In [94]:
sorted(a) # its sorted the values and converts set in to lisreturns the list

[10, 12, 15, 30]

In [96]:
a^b   # it prints the uncommon ele in in single set with ordered

{15, 17, 25, 30}

# Functional programming

- Procedural:c
- Object oriented:java,python
- scripting: PHP,python,javascripting,shell,perl
- functional:python,Haskell,scala
- logic: prolog Lisp

# List Comprehensions

In [110]:
# List of n natural numbers:
n=10
l=[]
for i in range(n+1):
    l.append(i)
#print(l)
    
    
# Using List Comphre  
li2=[i for i in range (1,11)]
li2

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [112]:
# Apply list comphre to srore the cubes of n natural numbers
li3=[i**3 for i in range (1,11)]
li3

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [5]:
import math
li4=[math.sqrt(i) for i in range (1,11)]
li4

[1.0,
 1.4142135623730951,
 1.7320508075688772,
 2.0,
 2.23606797749979,
 2.449489742783178,
 2.6457513110645907,
 2.8284271247461903,
 3.0,
 3.1622776601683795]

In [15]:
# Fumction to find factorial
n=5
fact = [math.factorial(i) for i in range(1,n+1)]
fact

[1, 2, 6, 24, 120]

In [12]:
help(math.factorial)

Help on built-in function factorial in module math:

factorial(x, /)
    Find x!.

    Raise a ValueError if x is negative or non-integral.

In [17]:
def factorial(n):
    if n==0 or n==1:
        return 1
    return n*factorial(n-1)
n=5
fact = [factorial(i) for i in range(1,n+1)]
fact

[1, 2, 6, 24, 120]

In [21]:
# Store cumulative sum of num till n in
# n=5 -->[1,,3,6,10,15]
n=6
cumulativesum=[sum(range(1,n+1)) for i in range(1,n+1)]
cumulativesum

[21, 21, 21, 21, 21, 21]

In [24]:
# List Comphre to store 
# only leap years i a given time period

st=1970
et=2019
leapyears=[year for year in range(st,et+1) if (year%400==0 or year%4==0 and year%100!=0)]
leapyears

[1972, 1976, 1980, 1984, 1988, 1992, 1996, 2000, 2004, 2008, 2012, 2016]

In [51]:
li = [1,2,3,2,1]
unique = []
u2=[]
#unique = [i for i in range (1,len(li)) if sorted(li)[i] != sorted(li) + [i+1]]
#unique=[u2.append(i) for i in li if i not in u2]
unique

[None, None, None]

# Iterators
Iterable-- Strings,Lists,Tuples,sets,Dictonaries
convert Iterable to --> iter()
For Loop: 


Iterator: pause in the execution

In [56]:
l = [1,2,3,4]
iter(l)
d={1,2,3,4}
iter(d)
t=(1,2,3,4)
iter(t)
s="nsbcbsjbc"
iter(s)

In [63]:
it=iter('Python')
#next(it)
#next(it)

'y'

In [67]:
it=iter('Python')
for i in it:
    print(i)

P
y
t
h
o
n

In [72]:
it=iter('Python')
print('1:')
print(next(it))
print('\n')
print('2:')
print(next(it))

1:
P


2:
y

# Generator
function to generate code

In [81]:
def generator():
    n = 2
    yield n
    n = n ** 3
    yield n
a = generator() 
next(a)
next(a)

8

In [2]:
def generator1():
    n = 2
    for i in range(1,5):
        n **= 3
        yield n
b = generator1() 
#next(b)
next(b)

8